@font-face {
  font-family: "beckam";
  src: url("../public/fonts/Beckman-Free.otf");
}

@font-face {
  font-family: "prin";
  src: url("../public/fonts/PRIND___.TTF");
}

@font-face {
  font-family: "buba";
  src: url("../public/fonts/BubaDEMO-Outline.otf");
}

body {
  background-color: "whitesmoke";
  margin: 0;
  box-sizing: border-box;
  font-family: "prin" open sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "beckam", open sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
